apiVersion: v1
kind: Service
metadata:
  name: postgres-svc
spec:
  selector:
      app: postgres
  type: ClusterIP
  clusterIP: None
  ports:
    - protocol: TCP
      port: 5432
      targetPort: 8000
